# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
env/

# FastAPI / general
*.log

# Node / React
node_modules/
dist/
build/
.cache/

# Environment / secrets
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

backend.app.data.flights.json
